
.auth .title {
    text-align: center;
}
.auth .block {
    margin: 10% 0;
    box-shadow: 0px 16px 32px rgba(1, 1, 1, 0.5);
    border-radius: 10px;
    padding:35px;
}
.auth.forget .block h3 {
    font-size: 22px;
}
.auth .block form {
    margin: 20px 0;
}
.auth .block form label {
    color: #4D4D4D;
    margin-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}
.auth .block form input {
    margin-bottom: 10px;
}
.auth .block form .btn {
    width: 100%;
}
.auth .privacy-accept input {
    margin-right:4px;
}
.auth .warning {
    text-align: center;
}