

.page.lesson img {
    max-height: 200px;
    border-radius: 12px;
    margin-bottom: 8px;
}
.page.lesson form {
    margin-top: 15px;
}
.page.lesson input, .page.lesson select, .page.lesson textarea {
    margin-bottom: 15px;
}
.page.lesson .warning {
    margin-top: 15px;
}
.page.lesson form button {
    margin-bottom: 8px;
}